<fieldset style="width: 40%; display: inline-block; background-color: lightskyblue;">
    <legend><b>PAGE2 COMPONENT (Lazy loaded)</b></legend>
  
    <div [formGroup]="ngxGaewynnDatePickerForm">
      <fieldset style="margin-bottom: 20px;">
        <legend>2 datepickers sharing the same formats ['group1'] (Starting using FR formats - Currently in <b>'{{ mockService.getCurrentLanguage(1) }}'</b>)</legend>
    
        <p>
          <ngx-gaewynn-datepicker [group]="'group1'">
            <mat-form-field appearance="fill">
              <mat-label>{{ mockService.getPlaceholder(1) }}</mat-label>
              <input matInput [formControl]="customDateFormControl" [matDatepicker]="picker">
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
          </ngx-gaewynn-datepicker>
        </p>
    
        <p>
          <ngx-gaewynn-datepicker [group]="'group1'">
            <mat-form-field appearance="fill">
              <mat-label>{{ mockService.getPlaceholder(1) }}</mat-label>
              <input matInput [formControl]="customDate1FormControl" [matDatepicker]="picker1">
              <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
              <mat-datepicker #picker1></mat-datepicker>
            </mat-form-field>
          </ngx-gaewynn-datepicker>
        </p>
      
        <button mat-button (click)="mockService.updateNgxGaewynnDatePickerDateFormats(1)">Switch to <b>'{{ mockService.getSwitchToLabel(1) }}'</b> formats</button>
      </fieldset>
    
      <fieldset>
        <legend>1 datepicker ['group2'] dissociated from the 2 others (Starting using EN formats - Currently in <b>'{{ mockService.getCurrentLanguage(2) }}'</b>)</legend>
    
        <p>
          <ngx-gaewynn-datepicker [group]="'group2'">
            <mat-form-field appearance="fill">
              <mat-label>{{ mockService.getPlaceholder(2) }}</mat-label>
              <input matInput [formControl]="customDate2FormControl" [matDatepicker]="picker2">
              <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
              <mat-datepicker #picker2></mat-datepicker>
            </mat-form-field>
          </ngx-gaewynn-datepicker>      
        </p>
    
        <button mat-button (click)="mockService.updateNgxGaewynnDatePickerDateFormats(2)">Switch to <b>'{{ mockService.getSwitchToLabel(2) }}'</b> formats</button>
      </fieldset>
    </div>  
  </fieldset>